body {
  background-image: url(/assets/wallpaper.jpg);
  font-family: 'Signika Negative', sans-serif;

}


.size {
  width: 500px;
  height: 390px;
  margin-left: 350px;
  margin-top: 300px;
  background-color: lightgrey;
  color: black;
  border-style: solid;
  border-width: 10px;

  text-align: center;
  padding-top: 10px;

}



a {
  color: purple;
  font-family: 'Alfa Slab One', cursive;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
}

li {
  text-align: left;
}

.division {

  width: 320px;
  height: 100px;
  overflow: scroll;
  margin-left: 90px;
    margin-top: 50px;
}

.division2 {
  margin-top: 50px;


}
